<div class="card">
  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{errorMessage}}
  </div>
  <div class="alert alert-success" role="alert" *ngIf="success">
    Successfully Saved
  </div>

  <div class="card-header" style="padding-left:20px;">
    <label for="companyName">Company Name : </label>
    <h5>{{company.companyName}}</h5>
  </div>

  <div class="card-body">
    <form (ngSubmit)="submitCompany()" name="companyForm" ngNativeValidate>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="email">Owner Name</label>
            <input type="text" class="form-control underlined" name="ownerName" id="ownerName" [(ngModel)]="company.ownerName" />
          </div>

          <div class="col-sm-4">
            <label for="email">Secondary Email</label>
            <input type="email" class="form-control underlined" name="secondaryEmail" id="secondaryEmail" placeholder="Enter Secondary email address"
              [(ngModel)]="company.secondaryEmail" />
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="firstname">Address Line 1</label>
            <input type="text" class="form-control underlined" name="addressLine1" id="addressLine1" [(ngModel)]="company.addressLine1">
          </div>
          <div class="col-sm-6">
            <label for="firstname">Address Line 2</label>
            <input type="text" class="form-control underlined" name="addressLine2" id="addressLine2" [(ngModel)]="company.addressLine2">
          </div>
        </div>
      </div>

      <div class="form-group">

        <div class="row">
          <div class="col-sm-4">
            <label for="firstname">City</label>
            <input type="text" class="form-control underlined" name="city" id="city" [(ngModel)]="company.city" />
          </div>
          <div class="col-sm-4">
            <label for="firstname">State</label>
            <input type="text" class="form-control underlined" name="state" id="state" [(ngModel)]="company.state" />
          </div>
          <div class="col-sm-4">
            <label for="firstname">Pincode *</label>
            <input type="text" class="form-control underlined" name="pinCode" id="pinCode" [(ngModel)]="company.pinCode" />
          </div>
        </div>

      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="email">Fax No</label>
            <input type="tel" class="form-control underlined" name="fax" id="fax" [(ngModel)]="company.faxNo" />
          </div>
          <div class="col-sm-4">
            <label for="email">Primary Phone</label>
            <input type="tel" class="form-control underlined" name="pphone" id="pphone" [(ngModel)]="company.phonePrimary" />
          </div>
          <div class="col-sm-4">
            <label for="email">Secondary Phone</label>
            <input type="tel" class="form-control underlined" name="sphone" id="sphone" [(ngModel)]="company.phoneSecondary" />
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="email">Bank Name</label>
            <input type="text" class="form-control underlined" name="name" id="name" [(ngModel)]="company.bankName" />
          </div>
          <div class="col-sm-4">
            <label for="email">IFSC Code</label>
            <input type="text" class="form-control underlined" name="name" id="name" [(ngModel)]="company.branchIFSCCode" />
          </div>
          <div class="col-sm-4">
            <label for="email">Branch</label>
            <input type="text" class="form-control underlined" name="name" id="name" [(ngModel)]="company.branch" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="email">Account Number</label> <input type="text" class="form-control underlined" name="accountNo"
              id="accountNo" [(ngModel)]="company.accountNo" />
          </div>
          <div class="col-sm-4">
            <label for="email">Account Name</label> <input type="text" class="form-control underlined" name="accountName"
              id="accountName" [(ngModel)]="company.accountName" />
          </div>
          <div class="col-sm-4">
            <label for="email">Account Type</label>
            <input type="text" class="form-control underlined" name="accountType" id="accountType" [(ngModel)]="company.accountType"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="firstname">Tan Number</label>
            <input type="text" class="form-control underlined" name="tanNo" id="tanNo" [(ngModel)]="company.tanNo" />
          </div>
          <div class="col-sm-4">
            <label for="firstname">GST Number</label>
            <input type="text" class="form-control underlined" name="gstNo" id="gstNo" [(ngModel)]="company.gstNo" />
          </div>
          <div class="col-sm-4">
            <label for="firstname">PAN Number</label>
            <input type="text" class="form-control underlined" name="panNo" id="panNo" [(ngModel)]="company.panNo" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="firstname">Service TAX Reg number</label>
            <input type="text" class="form-control underlined" name="serviceTaxRegNo" id="serviceTaxRegNo" [(ngModel)]="company.serviceTaxRegNo"
            />
          </div>
          <div class="col-sm-4">
            <label for="firstname">Accounting Type</label> <input type="text" class="form-control underlined" name="accountingType"
              id="accountingType" [(ngModel)]="company.accountingType" />
          </div>
          <div class="col-sm-4">
            <label for="firstname">Swift Code</label> <input type="text" class="form-control underlined" name="panNo" id="panNo"
              [(ngModel)]="company.swiftCode" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="file-logo">Logo</label>
            <input type="file" id="file-logo" (change)="onFileChange($event)" />
           
            <input type="hidden" name="logo" id="logo" [(ngModel)]="company.logoImg" />
          </div>
          <div class="col-sm-6">
            <img height="100" id="img-logo" [src]="company.logoImg" />
          </div>
        </div>
      </div>


      <button class="btn btn-success pull-right" type="submit">Save</button>
    </form>
  </div>
</div>