<h3>Proforma Invoice (Service)</h3>
<div class="alert alert-danger" role="alert" *ngIf="error">
  {{errorMessage}}
</div>
<div class="alert alert-success" role="alert" *ngIf="success">
  Successfully Saved
</div>

<div class="card" >
  <div class="card-body">
    <div class="row">
      <div class="col-md-1 "><b>Client</b></div>
      <div class="col-md-2">
        <select (change)="loadSelectedClient()" class="form-control underlined" [(ngModel)]="selClientId" [disabled]="(invoice.status=='CANCELED' || invoice.type=='INVOICE')">
        <option></option>
        <option *ngFor="let cli of clients" [ngValue]="cli.id" [selected]="cli.id === selClientId">{{cli.name}}</option>
         </select>
      </div>
      <div class="col-md-2"><b>Performa Id : </b></div>
      <div class="col-md-3">{{invoice.performaId}}</div>
      <div class="col-md-2"><b>SAC code: </b></div>
      <div class="col-md-2">
        <select (change)="loadSelectedSac()" class="form-control underlined" [(ngModel)]="selSacId" [disabled]="(invoice.status=='CANCELED' || invoice.type=='INVOICE')">
        <option></option>
        <option *ngFor="let sac of sacCodes" [ngValue]="sac.id" [selected]="sac.id === selSacId">{{sac.sacCode}}</option>
        </select>
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-1"><b>Status : </b></div>
      <div class="col-md-2">{{invoice.status}}</div>
      <div class="col-md-2"><b>GSTIN : </b></div>
      <div class="col-md-3">{{selectedClient.gstin}}</div>
      <div class="col-md-2"><b>Proforma Date : </b></div>
      <div class="col-md-2">
        <input type="date" class="form-control underlined" name="proformaDate" id="proformaDate" required="true" [ngModel]="invoice.performaDate | date:'yyyy-MM-dd'"
              (ngModelChange)="invoice.performaDate = $event" [value]="date | date:'yyyy-MM-dd'"  />
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"><b>Name : </b></div>
      <div class="col-md-2">{{selectedClient.name}}</div>
      <div class="col-md-2"><b>Address : </b></div>
      <div class="col-md-4">
        {{selectedClient.addrLine1}} {{selectedClient.addrLine2}},
        <br/> {{selectedClient.city}}, {{selectedClient.state}},
        <br/>        {{selectedClient.pincode}}.
        <br/>
        <i>Phone : </i> {{selectedClient.phonePrimary}}.
        <br/>
        <i>Email : </i> {{selectedClient.email}}.
        <br/>
      </div>
    </div>
    <table class="table">
      <tr>
        <th colspan="7">Particulars</th>
        <th><button class="btn btn-success" (click)="addRow()" *ngIf="!(invoice.status=='CANCELED' || invoice.type=='INVOICE')">AddRow</button></th>
      </tr>
      <tr>
        <th colspan="7">Professional service rendered in connection with</th>
        <!--<th>Quantity</th>-->
        <th>Rate</th>
        <th>Amount</th>
      </tr>
      <tr *ngFor="let field of particulars;let i=index">
          <td>{{i+1}}</td>
        <td><button class="btn btn-sm btn-danger" (click)="deletParticulars(field.id)" *ngIf="field.id && !(invoice.status=='CANCELED' || invoice.type=='INVOICE')"><i class="fa fa-trash"></i></button></td>

        <td colspan="5" WIDTH="80%">
          <textarea type="text" class="form-control" required="true" [(ngModel)]="field.itemDescription" (change)="calculateAmount(field)" [disabled]="(invoice.status=='CANCELED' || invoice.type=='INVOICE')">
          </textarea>
        </td>
       <!-- <td WIDTH="10%">
          <input type="number" class="form-control" required="false" min="0" size="3" [(ngModel)]="field.quantity"  (change)="calculateAmount(field)" [disabled]="(invoice.status=='CANCELED' || invoice.type=='INVOICE')"/>
        </td>-->
        <td WIDTH="10%"><input type="number" class="form-control" required="false" min="0"  [(ngModel)]="field.performaRate" (change)="calculateAmount(field)" [disabled]="(invoice.status=='CANCELED' || invoice.type=='INVOICE')"/>
        </td>
        <td WIDTH="10%">
          <input type="number" readoly class="form-control" required="true" readonly [(ngModel)]="field.calculatedPerformaAmount"/>
        </td>
      </tr>
        <tr>
          <td colspan="6">
          </td>
          <th>
            Enter Reimbursement Amount(if any)
          </th>
          <th><input type="number" class="form-control" required="false" min="0"  [(ngModel)]="invoice.reimbPerfomaAmount" (change)="calculateTotal()" [disabled]="(invoice.status=='CANCELED' || invoice.type=='INVOICE')"/> </th>
        </tr>
      <tfoot>
        <tr>
          <td colspan="6">
          </td>
          <th>
            SUM =
          </th>
          <td>{{invoice.totalPerfomaBeforeTax}}</td>
        </tr>
        <tr *ngIf="cgstDisplay">
          <td colspan="5">
          </td>
          <th style="text-align: right">
            CGST =
          </th>
          <td>{{invoice.cgstPerfomaPercent}}</td>
          <td>{{invoice.cgstPerfoma}}</td>
        </tr>
        <tr *ngIf="sgstDisplay">
          <td colspan="5">
          </td>
          <th style="text-align: right">
            SGST =
          </th>
          <td>{{invoice.sgstPerfomaPercent}}</td>
          <td>{{invoice.sgstPerfoma}}</td>
        </tr>
        <tr *ngIf="igstDisplay">
          <td colspan="5">
          </td>
          <th style="text-align: right">
            IGST =
          </th>
          <td>{{invoice.igstPerfomaPercent}}</td>
          <td>{{invoice.igstPerfoma}}</td>
        </tr>
      
        <tr>
          <td colspan="6">
          </td>
          <th>
            Total =
          </th>
          <th>{{invoice.totalPerfomaAmount}}</th>
        </tr>
        <tr>
          <td colspan="4">
          </td>
          <td colspan="1" align="right">
           
          </td>
          <td colspan="1">
           
          </td>
          <td colspan="1">
           
          </td>
          <td colspan="1">
           
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row float-right">
     <a target="_blank" style="color:white;background-color:#432fb5" class="btn" [href]="invoice.purl" *ngIf="invoice.purl && invoice.performaId!=''">
            <i class="fa fa-print"></i>
      </a>&nbsp;
      <a routerLink="/generate-invoice/{{invoice.id}}" class="btn btn-success">View as Invoice</a>&nbsp;
     <button class="btn btn-secondary" (click)="calculateTotal()" [disabled]="(invoice.status=='CANCELED' || invoice.type=='INVOICE')">Calculate Total</button>&nbsp;
      <button class="btn btn-primary" (click)="savePerformaInvoice()" [disabled]="(invoice.status=='CANCELED' || invoice.type=='INVOICE')">Save Invoice</button>&nbsp;
       <button class="btn btn-warning" (click)="cancelInvoice()" [disabled]="(invoice.status=='CANCELED' || invoice.type=='INVOICE')">Cancel Invoice</button>
    </div>
  </div>
</div>