<h3>Search Invoice </h3>
<div class="alert alert-danger" role="alert" *ngIf="error">
  {{errorMessage}}
</div>

<div class="card">
  <div class="card-body">
    <form (ngSubmit)="submit()" name="searchForm" ngNativeValidate>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="name">Performa Id </label>
            <input type="text" class="form-control underlined" name="performa Id" id="performaId" required="false" [(ngModel)]="searchInvoice.performaId"
            />
          </div>
          <div class="col-md-3">
            <label for="name">Invoice Id </label>
            <input type="text" class="form-control underlined" name="invoiceId" id="invoiceId" required="false" [(ngModel)]="searchInvoice.invoiceId"
            />
          </div>
          <div class="col-md-3">
            <label for="status">Status </label>
            <select id="status" name="status " class="form-control underlined" required="false" [(ngModel)]="searchInvoice.status">
                <option></option>   
                  <option value="NEW">NEW </option>
                  <option value="CANCELED">CANCELED </option>                  
                </select>
          </div>
          <div class="col-md-3">
            <label for="client">Client </label>
            <select id="client" name="client " class="form-control underlined" required="false" [(ngModel)]="searchInvoice.clientId">
              <option></option>
              <option *ngFor="let cli of clients" [ngValue]="cli.id">{{cli.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="startDt">Performa/Invoice </label>
            <select id="status" name="status " class="form-control underlined" required="false" [(ngModel)]="searchInvoice.type">
                  <option></option>
                  <option value="PERFORMA">PERFORMA </option>
                  <option value="INVOICE">INVOICE </option>               
                </select>
          </div>
          <div class="col-md-4">
            <label for="startDt">Start Date </label>
            <input type="date" class="form-control underlined" name="startDt" id="startDt" required="false" [(ngModel)]="searchInvoice.invoiceStDate"
            />
          </div>
          <div class="col-md-4">
            <label for="endDt">End Date</label>
            <input type="date" class="form-control underlined" name="endDt" id="endDt" required="false" [(ngModel)]="searchInvoice.invoiceEdDate"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search">&nbsp;</i>
              Search</button>
            <button type="reset" class="btn btn-secondary">
              <i class="fa fa-refresh">&nbsp;</i>
              Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <small style="color:#432fb5">Displaying {{searchResult.numberOfElements}}/{{searchResult.totalElements}} items in this page</small>
    <table class="table">
      <thead>
        <tr>
          <th>Invoice Id</th>
          <th>Performa Id</th>
          <th>Client</th>
          <th>Performa Date</th>
          <th>Invoice Date</th>
          <th>Performa Amount</th>
          <th>Invoice Amount</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>
            <a routerLink="/generate-invoice/{{invoice.id}}" *ngIf="invoice.invoiceId">{{invoice.invoiceId}}</a>
            <a routerLink="/generate-invoice/{{invoice.id}}" *ngIf="!invoice.invoiceId" class="btn btn-success">Generate Invoice</a>
          </td>
          <td><a routerLink="/performaView/{{invoice.id}}" *ngIf="invoice.performaId">{{invoice.performaId}}</a></td>
          <td>{{invoice.clientName}}</td>
          <td>{{invoice.performaDate | date:'yyyy-MM-dd'}}</td>
          <td>{{invoice.invoiceDate | date:'yyyy-MM-dd'}}</td>
          <td>{{invoice.totalPerfomaAmount}}</td>
          <td>{{invoice.totalInvoiceAmount}}</td>
          <td>{{invoice.type}}</td>
          <td>{{invoice.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <!--Table runat="server" ID="tblPrint" width="595px" heigh="842px" Border="1" />-->
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><button class="btn btn-info" [disabled]="searchResult.first" (click)="submit(0)">First</button></li>
        <li class="page-item" *ngFor="let pageNo of numbers">
          <button class="btn btn-info" (click)="submit(pageNo)">{{pageNo+1}}</button>
        </li>
        <li class="page-item"><button class="btn btn-info" [disabled]="searchResult.last" (click)="submit(searchResult.totalElements-1)">Last</button></li>
      </ul>
    </nav>
    <small style="color:#432fb5">Page Size is {{searchResult.size}}.</small>
  </div>
</div>