<h3>Search Invoice </h3>
<div class="alert alert-danger" role="alert" *ngIf="error">
  {{errorMessage}}
</div>

<div class="card">
  <div class="card-body">
    <form (ngSubmit)="submit()" name="searchForm" ngNativeValidate>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="name">Invoice Id </label>
            <input type="text" class="form-control underlined" name="invoiceId" id="invoiceId" required="false" [(ngModel)]="searchInvoice.id"/>
          </div>
          <div class="col-md-4">
            <label for="status">Status </label>
            <select id="status" name="status " class="form-control underlined" required="false" [(ngModel)]="searchInvoice.status">
                  <option value="NEW" selected>NEW </option>
                  <option value="CREATED">CREATED </option>
                  <option value="DELIVERED">DELIVERED </option>
                  <option value="CANCELED">CANCELED </option>                  
                </select>
          </div>
          <div class="col-md-4">
            <label for="client">Client </label>
            <select  id="client" name="client " class="form-control underlined" required="false"  (change)="loadSelectedClient()" [(ngModel)]="searchInvoice.clientId">
              <option></option>
              <option *ngFor="let cli of clients" [ngValue]="cli.id">{{cli.name}}</option>
            </select>
          </div>
        </div>
      </div>

       <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="startDt">Start Date </label>
            <input type="date" class="form-control underlined" name="startDt" id="startDt" required="false" [(ngModel)]="searchInvoice.invoiceStDate"/>
          </div>
          <div class="col-md-6">
            <label for="endDt">End Date</label>
            <input type="date"  class="form-control underlined" name="endDt" id="endDt" required="false" [(ngModel)]="searchInvoice.invoiceEdDate"/>
          </div>
        </div>
      </div>
       <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search">&nbsp;</i>
              Search</button>
          </div>
        </div>
       </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <td>Invoice ID</td>
        <td>Client</td>
        <td>Date</td>
        <td>Amount</td>
        <td>Status</td>
        <td>Options</td>
      </tr>
      </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices">
        <td>{{invoice.id}}</td>
        <td>{{invoice.clientName}}</td>
        <td>{{invoice.invoiceDate | date:'yyyy-MM-dd hh:mm aa'}}</td>
        <td>{{invoice.totalAmount}}</td>
        <td>{{invoice.status}}</td>
        <td>
            <a routerLink="/invoice/{{invoice.id}}" routerLinkActive="active" >View</a>  
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>