<h3>Search Invoice </h3>
<div class="alert alert-danger" role="alert" *ngIf="error">
  {{errorMessage}}
</div>

<div class="card">
  <div class="card-body">
    <form (ngSubmit)="submit()" name="searchForm" ngNativeValidate>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="name">Performa Id </label>
            <input type="text" class="form-control underlined" name="performa Id" id="performaId" required="false" [(ngModel)]="searchInvoice.performaId"
            />
          </div>
          <div class="col-md-3">
            <label for="name">Invoice Id </label>
            <input type="text" class="form-control underlined" name="invoiceId" id="invoiceId" required="false" [(ngModel)]="searchInvoice.invoiceId"
            />
          </div>
          <div class="col-md-3">
            <label for="status">Status </label>
            <select id="status" name="status " class="form-control underlined" required="false" [(ngModel)]="searchInvoice.status">
                <option></option>   
                  <option value="NEW">NEW </option>
                  <option value="CANCELED">CANCELED </option>                  
                </select>
          </div>
          <div class="col-md-3">
            <label for="client">Client </label>
            <select id="client" name="client " class="form-control underlined" required="false" (change)="loadSelectedClient()" [(ngModel)]="searchInvoice.clientId">
              <option></option>
              <option *ngFor="let cli of clients" [ngValue]="cli.id">{{cli.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="startDt">Performa/Invoice </label>
            <select id="status" name="status " class="form-control underlined" required="false" [(ngModel)]="searchInvoice.type">
                  <option></option>
                  <option value="PERFORMA">PERFORMA </option>
                  <option value="INVOICE">INVOICE </option>               
                </select>
          </div>
          <div class="col-md-4">
            <label for="startDt">Start Date </label>
            <input type="date" class="form-control underlined" name="startDt" id="startDt" required="false" [(ngModel)]="searchInvoice.invoiceStDate"
            />
          </div>
          <div class="col-md-4">
            <label for="endDt">End Date</label>
            <input type="date" class="form-control underlined" name="endDt" id="endDt" required="false" [(ngModel)]="searchInvoice.invoiceEdDate"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search">&nbsp;</i>
              Search</button>
              <button type="reset" class="btn btn-info">
              <i class="fa fa-refresh">&nbsp;</i>
              Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <td>Invoice Id</td>
          <td>Performa Id</td>
          <td>Client</td>
          <td>Performa Date</td>
          <td>Invoice Date</td>
          <td>Performa Amount</td>
          <td>Invoice Amount</td>
          <td>Type</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>
            <a routerLink="/generate-invoice/{{invoice.id}}" *ngIf="invoice.invoiceId">{{invoice.invoiceId}}</a>
            <a routerLink="/generate-invoice/{{invoice.id}}" *ngIf="!invoice.invoiceId" class="btn btn-success">Generate Invoice</a>
          </td>
          <td><a routerLink="/performaView/{{invoice.id}}" *ngIf="invoice.performaId">{{invoice.performaId}}</a></td>
          <td>{{invoice.clientName}}</td>
          <td>{{invoice.performaDate | date:'yyyy-MM-dd'}}</td>
          <td>{{invoice.invoiceDate | date:'yyyy-MM-dd'}}</td>
          <td>{{invoice.totalPerfomaAmount}}</td>
          <td>{{invoice.totalInvoiceAmount}}</td>
          <td>{{invoice.type}}</td>
          <td>{{invoice.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>