<!-- Heading -->
<div class="card mb-4 wow fadeIn">
  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">
      <h4 class="mb-2 mb-sm-0 pt-1">
          <span>New Voucher</span>
      </h4>
  </div>
</div>
<!-- Heading -->
<div class="alert alert-danger" role="alert" *ngIf="error">
  {{errorMessage}}
</div>
<div class="alert alert-success" role="alert" *ngIf="success">
  Successfully Saved
</div>

<div class="card">

  <div class="card-header" style="padding-left:20px;">
    <label for="vendorName">Voucher Entry </label>
  </div>

  <div class="card-body">
    <form (ngSubmit)="saveVoucher()" name="voucherForm" ngNativeValidate>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="vendorName">Vendor Name : </label>
            <input type="text" class="form-control underlined" name="vendorName" id="vendorName" placeholder="Enter vendorName" [(ngModel)]="voucher.vendorName"
            />
          </div>

          <div class="col-sm-4">
            <label for="voucherId">Voucher Id </label>
            <input type="text" class="form-control underlined" name="voucherId" id="voucherId" placeholder="Enter voucherId" [(ngModel)]="voucher.voucherId"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="particulars">Particulars : </label>
            <input type="text" class="form-control underlined" name="particulars" id="particulars" placeholder="Enter particulars" [(ngModel)]="voucher.particulars"
            />
          </div>
        </div>
      </div>
       <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="totalAmount">Total Amount : </label>
            <input type="text" class="form-control underlined" name="totalAmount" id="totalAmount" placeholder="Enter totalAmount" [(ngModel)]="voucher.totalAmount"
            />
          </div>

          <div class="col-sm-4">
            <label for="voucherDate">Voucher Date </label>
            <input type="date" class="form-control underlined" name="voucherDate" id="voucherDate" placeholder="Enter voucherDate" [(ngModel)]="voucher.voucherDate"
            />
          </div>
        </div>
      </div>

      <button class="btn btn-success pull-right" type="submit">Save</button>
    </form>
  </div>
</div>