<div class="primary-color text-center p-3">
    <img src="../../assets/img/logo-white.png" class="logo-img" alt="">
</div>
<div class="pt-2 mx-lg-1 pb-5 mb-4">
    <div class="container-fluid mt-0">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <b>Welcome :</b> <br/>
                        <button class="btn btn-primary">Create Company</button><br/>
                        <button class="btn btn-success">Admin Screen</button>
                    </div>
                 </div>
                
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <b>Which company you want to access</b> 
                        <div class="list-group">
                            <a 	class="list-group-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-2 h5"  >List group item heading</h5>
								<small class="comp-active" >Active/Inactive</small>
							</div>
							<p class="mb-2">
							You are going to access as : 
							<span >
								role,
							</span>
							</p>
						</a>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>